.calendar-wrap.home .react-calendar {
  width: 342px;
}

.calendar-wrap.modal {
  padding: 0 2px;
  width: 242px;
  box-shadow: none;
}

.calendar-wrap.modal .react-calendar {
  width: 242px;
}

.react-calendar__month-view__days > button:first-child {
  margin-inline-start: var(--rc-first-offset, 0px) !important;
}

/*navigation 영역*/
.react-calendar__navigation {
  display: flex;
  align-items: center;
}

.calendar-wrap.home .react-calendar__navigation {
  gap: 16px;
}

.calendar-wrap.modal .react-calendar__navigation {
  padding: 0 31px;
  gap: 64px;
}

/*navigation 버튼*/
.react-calendar__navigation button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.calendar-wrap.home .react-calendar__navigation__label {
  order: 0;
  flex: 1;
  text-align: left;
}

.calendar-wrap.home .react-calendar__navigation__label__labelText {
  font-family: "GothicA1";
  font-size: 20px;
  line-height: 28px;
  color: #2e2e2e;
}

.calendar-wrap.home .react-calendar__navigation__prev-button {
  order: 1;
  width: 24px;
  height: 24px;
}

.calendar-wrap.home .react-calendar__navigation__next-button {
  order: 2;
  width: 24px;
  height: 24px;
}

.calendar-wrap.modal .react-calendar__navigation__label__labelText {
  font-family: "GothicA1";
  font-size: 16px;
  line-height: normal;
  color: #2e2e2e;
}

.calendar-wrap.home .react-calendar__viewContainer {
  width: 320px;
  height: 232px;
  margin: 20px 11px 0 11px;
}

.calendar-wrap.modal .react-calendar__viewContainer {
  width: 242px;
  height: auto;
  margin-top: 15px;
}

/*요일*/
.calendar-wrap.home .react-calendar__month-view__weekdays {
  display: flex;
  gap: 16px;
  margin-bottom: 8px;
}

.calendar-wrap.modal .react-calendar__month-view__weekdays {
  display: flex;
  gap: 19px;
  margin-bottom: 12px;
}

.calendar-wrap.home .react-calendar__month-view__weekdays__weekday {
  height: 32px;
  position: relative;
  flex: 0 0 32px !important;
}

.calendar-wrap.modal .react-calendar__month-view__weekdays__weekday {
  width: 18px;
  height: 18px;
  position: relative;
  flex: 0 0 18px !important;
  left: 3px;
}

.react-calendar__month-view__weekdays__weekday abbr {
  position: absolute;
  font-family: "NotoSans";
  color: #c9ced6;
}

.calendar-wrap.home .react-calendar__month-view__weekdays__weekday abbr {
  left: 9px;
  top: 4px;

  font-size: 16px;
  line-height: 24px;
}

.calendar-wrap.modal .react-calendar__month-view__weekdays__weekday abbr {
  font-size: 14px;
  line-height: normal;
}

.react-calendar__month-view__weekdays__weekday abbr[title] {
  text-decoration: none;
}

/*일*/
.calendar-wrap.home .react-calendar__month-view__days {
  display: flex;
  gap: 8px 16px;
}

.calendar-wrap.modal .react-calendar__month-view__days {
  display: flex;
  gap: 11px 19px;
}

/*이번 달 일자*/
.react-calendar__tile {
  padding: 0;
  background-color: transparent;
  border: none;
}

.calendar-wrap.home .react-calendar__tile {
  height: 32px;
  flex: 0 0 32px !important;
}

.calendar-wrap.modal .react-calendar__tile {
  width: 18px;
  height: 17px;
  flex: 0 0 18px !important;
  overflow: visible !important;
}

.react-calendar__tile abbr {
  font-family: "NotoSans";
  color: #7a7a7a;
  cursor: pointer;

  justify-content: center;
  align-items: center;
}

.calendar-wrap.home .react-calendar__tile abbr {
  font-size: 16px;
  line-height: 24px;
}

.calendar-wrap.modal .react-calendar__tile abbr {
  font-size: 14px;
  line-height: normal;
}

/*오늘 날짜*/
.calendar-wrap.home .react-calendar__tile--now {
  background-color: #4b5f77 !important;
  border-radius: 50px;
}

.calendar-wrap.home .react-calendar__tile--now abbr {
  color: #fff !important;
}

/*발표가 있는 날짜*/
.react-calendar__tile.has-event {
  background-color: #e2edff;
  border-radius: 50px;
}

.react-calendar__tile.has-event abbr {
  color: #4b5f77;
}

/*선택된 날짜*/
.calendar-wrap.home .react-calendar__tile--active {
  background-color: #1d334d !important;
  border-radius: 50px;
}

.calendar-wrap.modal .react-calendar__tile--active {
  position: relative;
  z-index: 1;
}

.calendar-wrap.modal .react-calendar__tile--active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  transform: translate(-50%, -40%);
  background-color: #4b5f77;
  border-radius: 50px;
  z-index: -1;
}

.react-calendar__tile--active abbr {
  color: #fff !important;
}
