.hero-actions {
  display: flex;
  /* gap: 535px; */
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;

  margin: 82px auto 0px auto;
}

.hero-fav-classes {
  margin-top: 74px;
}

.search-wrapper {
  position: relative;
}
