.CommentItem {
  width: auto;
  padding: 12px 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  border-radius: 5.6px;
  background: var(--WireFrame-colors-100, #fff);
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);
}

.CommentItem__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CommentItem__author {
  display: flex;
  align-items: center;
  gap: 2.8px;

  color: #333;
  font-family: "NotoSans";
  font-size: 12px;
  line-height: normal;
}
.CommentItem__author img {
  width: 16px;
  height: 16px;
}

.CommentItem__meta {
  color: #2e4f6d;
  font-family: "NotoSans";
  font-size: 10px;
  font-weight: 500;
}

.CommentItem__target {
  color: #86b4c8;
  font-family: "NotoSans";
  font-size: 10px;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.CommentItem__content {
  margin: 0;
  color: #333;
  font-family: "NotoSans";
  font-size: 12px;
  line-height: normal;
}
