.ExportModal {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: "NotoSans";
  font-weight: 500;
  max-height: 100%;
}

.ExportModal__section {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.ExportModal__label {
  font-size: 12px;
  color: #6d758f;
}

.ExportModal__input {
  width: 100%;
  font-family: "GothicA1";
  font-weight: 600;
  font-size: 20px;
  color: #4b5f77;
  background: transparent;
  border: none;
  outline: none;
}

.ExportModal__download {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #cbe4ea;
  background: #fff;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.ExportModal__download span {
  color: #5a5a5b;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.ExportModal__copyBox {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #cbe4ea;
  background: #fff;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.ExportModal__url {
  flex: 1;
  overflow-wrap: break-word;
  color: #689ef3;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
}

.ExportModal__copyBtn {
  background: none;
  border: none;
  cursor: pointer;
}

.ExportModal__copied {
  color: #0a84ff;
  font-size: 14px;
}
