.Header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}

.Header .header_logo {
  margin-left: 30px;
  margin-top: 24px;
  width: 117.091px;
  height: 24px;
  cursor: pointer;
}

.Header .header_nav {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 22px;
  margin-right: 22px;
}

.Header nav ul {
  font-family: "NotoSans";
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Header nav a {
  font-size: 14px;
  text-decoration: none;
  color: #7a7a7a;
  font-style: normal;
}

.Header button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin: 0;
}

.Header .mail-icon {
  width: 30px;
  height: 30px;
}

.user-icon img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
