.LoadingScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  gap: 39px;
  z-index: 10;
  margin: 0 auto;
}

.LoadingScreen__text {
  width: 839px;
  color: #4b5f77;
  font-family: "GothicA1";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 auto;
}

.LoadingScreen__bar {
  width: 839px;
  height: 16px;
  flex-shrink: 0;
  margin: 0 auto;

  border-radius: 16px;
  background: #e5e8f1;
}

.LoadingScreen__progress {
  width: 100%;
  height: 100%;
  flex-shrink: 0;

  border-radius: 16px;
  background: linear-gradient(90deg, #79cdfa 0%, #88afe9 100%);
  transition: width 0.3s ease;
}
