.PracticeFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 81px;
  display: flex;
  padding: 0 63px 0 68px;
  box-sizing: border-box;
  gap: 50px;
  align-items: center;
  background: #2e2e2e;
}

.PracticeFooter__timer {
  color: #fff;
  font-family: "GothicA1";
  font-size: 48px;
  line-height: normal;
}

.PracticeFooter__controls {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  gap: 20px;
}

.PracticeFooter__btn-primary {
  cursor: pointer;
  display: inline-flex;
  padding: 10px 40px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-left: 22px;
  flex-shrink: 0;

  border: none;
  border-radius: 36px;
  background: linear-gradient(90deg, #79cdfa 0%, #88afe9 100%);
  box-shadow: 0 0 5px 0 rgba(121, 205, 250, 0.42);

  color: #fff;
  font-family: "GothicA1";
  font-size: 20px;
  line-height: normal;
}

.PracticeFooter__btn-pause,
.PracticeFooter__btn-resume,
.PracticeFooter__btn-restart {
  display: flex;
  width: 51px;
  height: 49px;
  padding: 10px 11px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;

  border: none;
  border-radius: 36px;
  background: linear-gradient(180deg, #77c3c8 0%, #385267 100%);
  box-shadow: 0 0 5px 0 rgba(121, 205, 250, 0.42);
}

.PracticeFooter__btn-qr,
.PracticeFooter__btn-mic {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.PracticeFooter__btn-qr {
  position: relative;
}

.PracticeFooter__qr-modal-wrapper {
  position: absolute;
  bottom: 72px;
  right: 0;
  z-index: 1000;
}

.PracticeFooter__btn-mic {
  padding: 6px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  width: 106px;

  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
}
.PracticeFooter__btn-mic span {
  color: #fff;
  text-align: center;
  font-family: "NotoSans";
  font-size: 10px;
  font-weight: 500;
  line-height: normal;
}
