.PresentationCard {
  font-family: "NotoSans";
  width: 240px;
  height: 239px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.PresentationCard.with-shadow {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.12);
}

.presentation-card_thumb {
  position: relative;
  width: 240px;
  height: 135px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.badge {
  font-size: 12px;
  line-height: 16.2px;
  color: #5d8daa;

  position: absolute;
  left: 9px;
  top: 11px;
  height: 24px;
  box-sizing: border-box;
  background-color: #f2f7fb;
  border-radius: 4px;
  padding: 4px 12px;
}

.presentation-card_info {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
}

.title {
  margin: 0;
  color: #2e2e2e;
  font-size: 16px;
  line-height: 135%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.meta {
  display: flex;
  align-items: end;
}

.meta-left {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;
  line-height: 135%;
}

.meta-item {
  display: flex;
  align-items: center;
  gap: 4px;
}

.meta-item time {
  color: #62728d;
  line-height: normal;
}

.meta-item_label {
  color: #4b5f77;
}

.presenter {
  margin-left: 4px;
  color: #2e2e2e;
  line-height: normal;
}

.presenter-avatar {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time-ago {
  color: #a9a9a9;
  font-size: 12px;
  line-height: 20px;
  margin-left: auto;
}
