.PresentationHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 58px;
  padding: 12px 12px 12px 25px;
  box-sizing: border-box;
  position: relatived;
  z-index: 1000;

  border-radius: 0 0 10px 0;
  background: #fff;
  box-shadow: 0 4px 4px 0 rgba(141, 141, 141, 0.15);
}

.header-left {
  display: flex;
  gap: 32px;
  align-items: center;
}

.header-left img {
  cursor: pointer;
}

.header-left_title {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  gap: 24px;
  align-items: center;
}

.header-title {
  color: #000;
  font-family: "GothicA1";
  font-size: 16px;
  font-weight: 700;
}

.header_btn-outline {
  cursor: pointer;
  padding: 12px 20px;
  border: none;
  border-radius: 46px;
  box-shadow: 0 0 4px 0 #d0def4;

  font-family: "NotoSans";
  font-size: 14px;
  background: linear-gradient(180deg, #4b5f77 0%, #d4cffb 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header_btn-primary {
  cursor: pointer;
  display: inline-flex;
  padding: 9px 35px 9px 30px;
  align-items: center;
  gap: 12px;

  border: none;
  border-radius: 42px;
  background: linear-gradient(
    90deg,
    rgba(85, 180, 186, 0.8) 0%,
    rgba(7, 39, 65, 0.8) 100%
  );

  color: #fff;
  font-family: "NotoSans-Bold";
  font-size: 16px;
}

.header_btn-back {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
