@font-face {
  font-family: "GothicA1";
  src: url("/fonts/GothicA1-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "GothicA1";
  src: url("/fonts/GothicA1-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "GothicA1";
  src: url("/fonts/GothicA1-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "GothicA1";
  src: url("/fonts/GothicA1-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "GothicA1";
  src: url("/fonts/GothicA1-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "GothicA1";
  src: url("/fonts/GothicA1-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "GothicA1";
  src: url("/fonts/GothicA1-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "GothicA1";
  src: url("/fonts/GothicA1-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "GothicA1";
  src: url("/fonts/GothicA1-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: "NotoSans";
  src: url("/fonts/NotoSansKR-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "NotoSans";
  src: url("/fonts/NotoSansKR-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "NotoSans";
  src: url("/fonts/NotoSansKR-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "NotoSans";
  src: url("/fonts/NotoSansKR-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "NotoSans";
  src: url("/fonts/NotoSansKR-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "NotoSans";
  src: url("/fonts/NotoSansKR-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "NotoSans";
  src: url("/fonts/NotoSansKR-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "NotoSans";
  src: url("/fonts/NotoSansKR-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "NotoSans";
  src: url("/fonts/NotoSansKR-Black.ttf");
  font-weight: 900;
}
html,
body {
  margin: 0;
  max-width: 100%;
}

body {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

#root {
  /* min-width: 1440px; */
  width: 100%;
  min-height: 100vh;
}
