@font-face {
  font-family: "GothicA1";
  src: url("/public/fonts/GothicA1-Bold.ttf");
}

@font-face {
  font-family: "NotoSans";
  src: url("/public/fonts/NotoSansKR-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "NotoSans-Bold";
  src: url("/public/fonts/NotoSansKR-Bold.ttf");
}
body {
  margin: 0;
}

#root {
  min-width: 1440px;
  min-height: 100vh;
}
